@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: var(--font-poppins);
}

.modal-font {
  font-family: 'Poppins', sans-serif !important;
  user-select: none;
}